
.card-body {
    background-color: snow;
}

.content {
    margin-top: 10px;
    margin-bottom: 15px;
}

.row-index{
    display: flow-root;
    margin-right: 10px;
    margin-left: -15px;
}

.search{
    justify-content: left;
    width: 400px;
    margin-left: 20px;
}

.filter{
    justify-content: center;
    width: 400px;
}

.button{
    justify-content: right;
    width: 100%;
    margin-right: 20px;
}

