
.card-body {
    background-color: snow;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-index{
    display: flex;
    margin-right: 10px;
    margin-left: -15px;
}

.search{
    justify-content: left;
    width: 800px;
    margin-left: 20px;
}

.filter-icon{
    height: 50px !important;
    width: 20px !important;
    margin-left: 50px !important;
    margin-right: 0px;
}

.filter{
    justify-content: space-between;
    width: 400px;
    margin-left: 10px;
    height: 38px;
    background-color: #f4f7fa;
}

.select2-selection {
    height: 38px !important;
}

.button{
    width: 100%;
    margin-right: 10px;
}

