
.card-body {
    background-color: snow;
}

.container-fluid-1{
    padding-left: 0px;
    padding-right: 0px;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-index{
    display: flex;
    margin-right: 10px;
    margin-left: -20px;
}

.search{
    /* box-sizing: border-box; */
    justify-content: left;
    width: 800px;
    margin-left: 20px;
}

.search-button{
    margin-left: 5px;
    margin-right: 40px;
}

.filter-icon{
    margin-left: 10px !important;
    margin-right: 0px;
    font-size: 14px;
    line-height: 38px;
    color: #404040;
}

.filter{
    justify-content: space-between;
    width: 300px;
    margin-left: 20px; 
}

.select2-selection {
    height: 38px !important;
    background-color: #f4f7fa !important;
    font-size: 16px;
    padding-block-start: 4px;
}
.select2-selection__arrow {
    margin-block-start: 5px;
}

.button{
    width: 100%;
    margin-right: -9px;
}

.button-show{
    padding-block-start: 15px;
}

.table-tr-pad{
    padding-top: 17px;
}

.breadcrumbs{
    margin-bottom: 10px;
}

