
.card-body {
    background-color: snow;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-index{
    display: flex;
    margin-right: 10px;
    margin-left: -15px;
}

.search{
    justify-content: left;
    width: 800px;
    margin-left: 20px;
}

.filter-icon{
    margin-left: 10px !important;
    margin-right: 0px;
    font-size: 14px;
    line-height: 38px;
    color: #404040;
}

.filter{
    justify-content: space-between;
    width: 300px;
    margin-left: 20px; 
}

.select2-selection {
    height: 38px !important;
    background-color: #f4f7fa !important;
    font-size: 16px;
    padding-block-start: 4px;
}

.button{
    width: 100%;
    margin-right: 10px;
}

.breadcrumbs{
    margin-bottom: 10px;
}

