body {
    background: #f9f9f9;
}

.container-fluid-1{
    padding-left: 0px;
    padding-right: 0px;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-index{
    display: flex;
    margin-right: 10px;
    margin-left: -20px;
}

.search{
    justify-content: left;
    width: 800px;
    margin-left: 20px;
}

.search-button{
    margin-left: 5px;
    margin-right: 40px;
}

.filter-icon{
    margin-left: 10px !important;
    margin-right: 0px;
    font-size: 14px;
    line-height: 38px;
    color: #404040;
}

.filter{
    justify-content: space-between;
    width: 300px;
    margin-left: 20px; 
}

.select2-selection {
    height: 38px !important;
    background-color: #f4f7fa !important;
    font-size: 16px;
    padding-block-start: 4px;
}
.select2-selection__arrow {
    margin-block-start: 5px;
}

.button{
    width: 100%;
    margin-right: -9px;
}

.table-tr-pad{
    padding-top: 17px;
}

.breadcrumbs{
    margin-bottom: 10px;
}

.profile-show{
   height: 120px;
   width: 120px;
}

.show-password {
    position: absolute;
    right: 15px;
    top: 0;
    line-height: 42px;
    font-size: 18px;
}

.password-div{
    position: relative;
}

.fa-eye:before {
    content: "\f06e";
    color: gray;
}

.card-header__title-wrap {
    padding: 10px 0;
}

.card .card-header h5 {
    font-size: 20px;
    color: #0168fa;
}